<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Filtros de búsqueda
    </mat-panel-title>
    </mat-expansion-panel-header>
  <div class="filters-container" [formGroup]="filterForm">
    <mat-form-field style="width: 30%">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" placeholder="Introduce un nombre para buscar...">
    </mat-form-field>
<!--    <mat-form-field>-->
<!--      <mat-label>Compañía</mat-label>-->
<!--      <mat-select formControlName="type">-->
<!--        <mat-option *ngFor="let company of comicCompanies" [value]="company.key">{{company.value}}</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field>-->
<!--      <mat-label>Año creación</mat-label>-->
<!--      <input matInput type="number" formControlName="creation" placeholder="Ej. 1996">-->
<!--    </mat-form-field>-->
<!--    <div class="actions">-->
<!--      <button mat-flat-button color="accent" (click)="search()"><mat-icon>search</mat-icon> Buscar</button>-->
<!--      <button mat-stroked-button color="accent" (click)="resetFilter()"><mat-icon>close</mat-icon>Reestablecer</button>-->
<!--    </div>-->

  </div>
</mat-expansion-panel>
